
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<div >
<div class="center">
    <i class="fa fa-search"></i>
    <p>Please confirm or edit your contact information, so that we can <br>notify you when you are approved
        for our BETA.
    </p>
    <div style="width: 40%; margin-left: 30%; padding: 10px;">
        <hr>
    </div> 
    <div style="text-align: left;">
     <form>
            
        <label>NAME</label>
        <pre>Pooja</pre>
        <label>EMAIL ADDRESS</label>
        <pre>Pooja</pre>
        <label>PHONE NUMBER</label><br>
        <input type="number" placeholder="Type a phone number" required><br><br>
        <div style="width: 60%; margin-left: 20%; margin-top: 40px; padding: 10px;">
            <hr>
        </div> 
       <div>
        <br>  <a class="button">SIGNUP</a>
       </div>
     </form>
    </div>   
</div>

</div>