<div>
  <div class="center">
    <p style="color: #ef5350; font-size: larger">Q</p>
    <p>
      Please confirm or edit your contact information, so that we can
      <br />notify you when you are approved for our BETA.
    </p>
    <div style="width: 40%; margin-left: 30%; padding: 10px">
      <hr />
    </div>
    <div style="text-align: left">
      <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="form-group">
          <label>NAME</label>
          <pre>{{ name }}</pre>
          <label>EMAIL ADDRESS</label>
          <pre>{{ email }}</pre>
          <label>PHONE NUMBER</label><br />
          <input
            formControlName="mobileNumber"
            id="mobileNumber"
            type="number"
            class="form-control"
          />
          <div
            *ngIf="f.mobileNumber.touched && f.mobileNumber.invalid"
            class="alert alert-danger"
          >
            <div class="
            Errmsg" *ngIf="f.mobileNumber.errors.required">
              Mobile Number is required.
            </div>
            <div class="Errmsg" *ngIf="f.mobileNumber.errors.pattern">
              Please, Enter 10 digit Mobile Number.
            </div>
          </div>

          <br /><br />
          <div class="hrline">
            <hr />
          </div>
          <div>
            <br />
            <a
              class="button"
              type="submit"
              routerLink="/thankyou"
              >SIGNUP</a
            >
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
