

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<div class="container">
  <div>
    <img
      src="assets\Images\RequestAccess.png"
      />   
  </div>
 <div style="text-align: center;">
    <p>re</p>
    <i class="fa fa-search"></i>
     </div>
 <div>
    <h1>ThankYou!<br>We'll back to you soon.</h1>
    <p class="Msg">Please Check Your Mail!</p>
 </div>
 
</div>
