@import "../../styles.scss";

img {
  max-width: 100%;
  text-align: center;
  padding-top: 40px;
}

p {
  text-align: center;
  color: blue;
  font-size: large;
  display: inline;
  position: relative;
}
h1 {
  text-align: center;
  color: #ef5350;
  font-style: bold;
}

.Msg {
  color: gray;
  font-size: x-small;
  text-align: center;
}
