<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<div class="container">
  <div>
    <img
      src="assets\Images\RequestAccess.png"
     
    />   
  </div>
 <div style="text-align: center;">
    <p>re</p>
    <i class="fa fa-search"></i>
     </div>
 <div>
    <h1>Real Estate Investigating Information<br> That Matters to You.</h1>
    <h5>Limited to the San Francisco BayArea - Join our BETA!</h5>
 </div>
 <div style="text-align: center;">
    <a class="button">SIGN UP WITH LINKEDIN</a>
 </div>
</div>
