@import "../../styles.scss";



p {
  text-align: center;
  color: #01579b;
  font-size: large;
  font-weight: 1000;
  display: inline;
  position: relative;
}
img {
  max-width: 100%;
}
h1 {
  text-align: center;
  color: #ef5350;
  font-style: bold;
}
h5 {
  text-align: center;
  color: gray;
  font: normal;
  font-weight: 100;
}

a.button {
  height: 50px;
  width: 100px;
  border: 2px solid #ef5350;
  padding: 4px;
  font-size: x-small;
  color: #ef5350;
}
