*
{
    font-family: SF;
}

p{
    text-align: center;
    color: blue;
    font-size: large;
    display: inline;
    position: relative;
    // margin-left: 40%;
}

// i.fa.fa-search{
// color: red;
// }

img{
    max-width: 100%;
}
h1{
    text-align: center;
    color: red;
    font-style: bold;
}
h5{
    text-align: center;
    color: gray;
}

a.button{
    height: 50px;
    width: 100px;
    border: 2px solid red;
    padding: 4px;
    font-size: x-small;
    color:red;
    
    
}

