$myfont: SF;
$myHeadColor: #c62828;
$divWidth: 100%;
$MarginStart: 30%;
$NoteColor: gray;
$padding: 0px;
$Display:flex;


/* You can add global styles to this file, and also import other style files */
.container {
  display: Display;
  flex-direction: column;
  justify-content: center;
  margin: 0px;
  padding: 0 5px;
  flex-wrap: wrap;
}

@font-face {
  font-family: $myfont;
  src: url(assets/Fonts/SF-Compact-Display-Bold.otf) format("openType");
}

